[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "gunicorn app:app"
dev = "bash -c \"export FLASK_ENV='development' && python server.py\""
test = "pytest --disable-warnings"
coverage = "pytest --cov-report term-missing --cov=. --disable-warnings"

[packages]
flask = "==2.0.1"
textblob = "==0.15.3"
python-dotenv = "==0.19.0"
werkzeug = "*"
tensorflow = "*"
middleware = "*"
tweepy = "==3.5.0"
flask-cors = "*"
pandas = "*"

[dev-packages]
pytest-cov = "*"

[requires]
python_version = "3.6"
